!!!
%html
  %head
    %link(rel="stylesheet" href="/css/global.css")
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"}
    %script{:src => "/js/ui.js"}
    %script{:src => "/js/processing.min.js"} 

    %title Neoflix

  %body
    %canvas#neoviz
    %header
      %section#title
        %h1 Neoflix
        %p Movie Recommender
      %section#search
        %form{:action => "/", :method => "get"}
          %label Node ID:
          %input#neoid{:type => "text", :value => "#{@neoid}", :name => "neoid"}
          %input#loadnode{:type => "submit", :value => "Load", :class => "button"}
      %br{:style => "clear: both;"}
    %section#content
      = yield
    %aside
      %div#explanation
        / Neoflix introduction
        %h2 About
        %p
          Neoflix is an example app using the 
          %a{:href => "https://github.com/maxdemarzi/neovigator", :target => "_blank"} Neovigator 
          visualization.  It uses the 
          %a{:href => "http://www.grouplens.org/node/73"} Movie Lens
          dataset and the work of 
          %a{:href => "https://twitter.com/#!/twarko"} Marko A. Rodriguez
          as shown on his blog entry 
          %a{:href => "http://markorodriguez.com/2011/09/22/a-graph-based-movie-recommender-engine/"} A Graph-Based Movie Recommender Engine
          with some tweaks as shown on 
          %a{:href => "http://maxdemarzi.com/2012/01/10/a-graph-based-…mender-website/"} A Graph-Based Movie Recommender Website
        %h3 Get started
        %p
          Start using the browser by just typing in the id of an existing node.
          You can see the available nodes at
          %a{:href => "http://de6ea8208:349e4479d@70825a524.hosted.neo4j.org:7014", :target => "_blank" } this Neo4j server  
          , try loading
          %a{:href => "/?neoid=1"} 
            %b Node 1
          to get started.    
        %h3 Quirks
        %p
          There may be some unexpected behavior. Performance may drop significantly as
          the number of nodes increases.
        %h3 Credits
        %p
          This project was made by  
          %a{:href => "http://maxdemarzi.com"} Max De Marzi
          using: 
          %a{:href => "http://neo4j.org", :target => "_blank"} Neo4j
          and
          %a{:href => "https://github.com/maxdemarzi/neography", :target => "_blank"} Neography
          , it is based on 
          %a{:href => "http://askken.heroku.com/", :target => "_blank"} Ask Ken
          created by 
          %a{:href => "http://twitter.com/_mql", :target => "_blank"} Michael Aufreiter 
        %h3 Code          
        %p
          Available at
          %a{:href => "https://github.com/maxdemarzi/neoflix", :target => "_blank"} Github    

      <div id="browser_not_supported">
      Your Browser is currently not supported.<br/><br/>Try one of these:<br/>
      <a href="http://www.mozilla.com/en-US/firefox/firefox.html">Firefox 3.6</a><br/>
      <a href="http://www.apple.com/safari/">Safari 4.0</a><br/>
      <a href="http://www.google.com/chrome/">Chrome</a><br/>
      </div>
